#--------------------#
#   Pipex Ignores    #
#--------------------#

# files without ext
*
!/**/
!*.*

# vscode
.vscode
README.md
ppxtst/
.DS_Store

# make
pipex
*.o
libft.a
libftprintf.a

# c++ debuger
*.dSYM
ft*.out

# don't ignore
!*.c
!pipex.h
!Makefile
!src/fprintf/Makefile